body {
  background-image: linear-gradient(135deg, rgb(50, 216, 58), rgb(31, 163, 31));
}

main {
  min-height: 100lvh;
}

.site-logo {
  background-image: url(images/international-2423859_640.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  display: grid;
  place-items: center;
  width: auto;
  height: 4rem;
  & > span {
    font-weight: bold;
    padding-left: 3rem;
  }
}

#main-carousel {
  max-height: 15rem;
}

footer {
  margin-top: 10rem;
  margin-right: 1rem;
  text-align: end;
}
